<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- macros which expand to inertial/collision/visual -->

    <xacro:macro name="make_cylinder_inertial" params="pose:=^|'0 0 0 0 0 0' mass:=^ length:=^ radius:=^">
        <inertial>
            <pose>${pose}</pose>
            <mass>${mass}</mass>
            <inertia>
                <ixx>${mass * (radius * radius / 4 + length * length / 12)}</ixx>
                <ixy>0</ixy>
                <ixz>0</ixz>
                <iyy>${mass * (radius * radius / 4 + length * length / 12)}</iyy>
                <iyz>0</iyz>
                <izz>${mass * radius * radius / 2}</izz>
            </inertia>
        </inertial>
    </xacro:macro>

    <xacro:macro name="make_cylinder_collision" params="name:='collision' pose:=^|'0 0 0 0 0 0' length:=^ radius:=^ mu:=^|0.5 min_depth:=^|0.01">
        <collision name="${name}">
            <pose>${pose}</pose>
            <geometry>
                <cylinder>
                    <length>${length}</length>
                    <radius>${radius}</radius>
                </cylinder>
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>${mu}</mu>
                        <mu2>${mu}</mu2>
                    </ode>
                </friction>
                <contact>
                    <ode>
                        <min_depth>${min_depth}</min_depth>
                    </ode>
                </contact>
            </surface>
        </collision>
    </xacro:macro>

    <xacro:macro name="make_cylinder_visual" params="name:='visual' pose:=^|'0 0 0 0 0 0' length:=^ radius:=^ *material">
        <visual name="${name}">
            <pose>${pose}</pose>
            <geometry>
                <cylinder>
                    <length>${length}</length>
                    <radius>${radius}</radius>
                </cylinder>
            </geometry>
            <xacro:insert_block name="material" />
        </visual>
    </xacro:macro>

    <xacro:macro name="make_box_inertial" params="pose:=^|'0 0 0 0 0 0' mass:=^ size_x:=^ size_y:=^ size_z:=^">
        <inertial>
            <pose>${pose}</pose>
            <mass>${mass}</mass>
            <inertia>
                <ixx>${mass * (size_y * size_y + size_z * size_z) / 12}</ixx>
                <ixy>0</ixy>
                <ixz>0</ixz>
                <iyy>${mass * (size_z * size_z + size_x * size_x) / 12}</iyy>
                <iyz>0</iyz>
                <izz>${mass * (size_x * size_x + size_y * size_y) / 12}</izz>
            </inertia>
        </inertial>
    </xacro:macro>

    <xacro:macro name="make_box_collision" params="name:='collision' pose:=^|'0 0 0 0 0 0' size:=^ mu:=^|0.5 min_depth:=^|0.01">
        <collision name="${name}">
            <pose>${pose}</pose>
            <geometry>
                <box>
                    <size>${size}</size>
                </box>
            </geometry>
            <surface>
                <friction>
                    <ode>
                        <mu>${mu}</mu>
                        <mu2>${mu}</mu2>
                    </ode>
                </friction>
                <contact>
                    <ode>
                        <min_depth>${min_depth}</min_depth>
                    </ode>
                </contact>
            </surface>
        </collision>
    </xacro:macro>

    <xacro:macro name="make_box_visual" params="name:='visual' pose:=^|'0 0 0 0 0 0' size:=^ *material">
        <visual name="${name}">
            <pose>${pose}</pose>
            <geometry>
                <box>
                    <size>${size}</size>
                </box>
            </geometry>
            <xacro:insert_block name="material" />
        </visual>
    </xacro:macro>

    <!-- macros for populating general links/joints -->

    <xacro:macro name="populate_links" params="name_prefix:=^ x:=^|0 y:=^|0 z:=^|0 roll:=^|0 pitch:=^|0 yaw:=^|0 dx:=^|0 dy:=^|0 dz:=^|0 droll:=^|0 dpitch:=^|0 dyaw:=^|0 i:=0 count:=^ **template">
        <xacro:if value="${i &lt; count}">
            <gazebo>
                <link name="${name_prefix}${i}">
                    <pose>${x} ${y} ${z} ${roll} ${pitch} ${yaw}</pose>
                    <xacro:insert_block name="template" />
                </link>
            </gazebo>
            <xacro:populate_links x="${x+dx}" y="${y+dy}" z="${z+dz}" roll="${roll+droll}" pitch="${pitch+dpitch}" yaw="${yaw+dyaw}" i="${i+1}">
                <template>
                    <xacro:insert_block name="template" />
                </template>
            </xacro:populate_links>
        </xacro:if>
    </xacro:macro>

    <xacro:macro name="populate_joints" params="name_prefix:=^ type:=^ child_prefix:=^ i:=0 count:=^ **template">
        <xacro:if value="${i &lt; count}">
            <gazebo>
                <joint name="${name_prefix}${i}" type="${type}">
                    <child>${child_prefix}${i}</child>
                    <xacro:insert_block name="template" />
                </joint>
            </gazebo>
            <xacro:populate_joints i="${i+1}">
                <template>
                    <xacro:insert_block name="template" />
                </template>
            </xacro:populate_joints>
        </xacro:if>
    </xacro:macro>

</robot>